* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	outline: none;
}

body {
	background: #456c8f url("../img/bg-image.jpg") repeat-x; 
	font-family: 'Arial', sans-serif; 
}

#container {
	width: 718px;
	overflow: hidden;
	margin: 40px auto; 
}

h1 {
	margin-bottom: 20px;
	text-align: center;
	color: #fff;

}

ul.thumbs li {
	margin-bottom: 10px;
	margin-right: 9px;
	float: left;
}

ul.thumbs a {
	display: block;
	position: relative;
	width: 85px;
	height: 55px;
	border: 4px solid transparent; 
	font: bold 12px/25px Arial, sans-serif;
	color: #515151; 
	text-decoration: none;
	text-shawdow: 1px 1px 0px rgba(255,25,255,0.25), inset 1px, 1px, 0px rgba(0,0,0,0.15);
}

ul.thumbs img {
	border: #333 solid 4px;
}

ul.slides {
	clear: both;
	overflow: hidden;
	border: #333 solid 4px;	
}

ul.slides, 
ul.slides li, 
ul.slides a, 
ul.slides img {
	width: 705px;
	height: 350px;
	position:relative;
}

/* order of the stuff matters */ 
ul.slides li {
	position: absolute;
	z-index: 50; 
}


/*
** Adds a little triagnle on the hoverbox 
*/
ul.thumbs li a:hover span:before {
	width: 0px;
	height: 0px;
	position: absolute;
	top: -5px;
	left: 38px;
	border-bottom: 5px  #fff solid;
	border-left: 5px transparent solid; 
	border-right: 5px transparent solid; 
	content: '';
}

/*
** Add the hover box with text from span 
*/ 
ul.thumbs li a:hover span {
	position: absolute; 
	z-index: 101;
	bottom: -30px;
	display: block;
	width: 85px;
	height: 25px;
	text-align: center; 
	border-radius: 3px;

	/* add white backgroud for broswer taht does not support gradient */
	background: #fff; 

	/* add code to do the gradient */ 
	background: -moz-linear-gradient(top, #fff 0%, #bcbcbc 100%);
	background: -webkit-linear-gradient(top, #fff 0%, #bcbcbc 100%);
	background: -ms-linear-gradient(top, #fff 0%, #bcbcbc 100%);
	background: -o-linear-gradient(top, #fff 0%, #bcbcbc 100%);
	background: linear-gradient(top, #fff 0%, #bcbcbc 100%);
}

@-webkit-keyframes 'slides' {
	0% {left: -500px; }
	100% {left: 0px}
}

@-moz-keyframes 'slides' {
	0% {left: -500px; }
	100% {left: 0px}
}

@-ms-keyframes 'slides' {
	0% {left: -500px; }
	100% {left: 0px}
}

@keyframes 'slides' {
	0% {left: -500px; }
	100% {left: 0px;}
}

ul.slides li:target {
	z-index: 100;
	-webkit-animation-name: slides;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: slides;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count: 1;

	-ms-animation-name: slides;
	-ms-animation-duration:1s;
	-ms-animation-iteration-count: 1;

	animation-name: slides;
	animation-duration:1s;
	animation-iteration-count: 1;
}

/*
Not target show the last targeted
*/
@-webkit-keyframes 'not_target' {
	0% {z-index: 75}
	100% {z-index: 75}
}

@-moz-keyframes 'not_target' {
	0% {z-index: 75}
	100% {z-index: 75}
}

@-ms-keyframes 'not_target' {
	0% {z-index: 75}
	100% {z-index: 75}
}

@keyframes 'not_target' {
	0% {z-index: 75}
	100% {z-index: 75}
}



ul.slides li:not(:target) {
	-webkit-animation-name: not_target;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: not_target;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count: 1;

	-ms-animation-name: not_target;
	-ms-animation-duration:1s;
	-ms-animation-iteration-count: 1;

	animation-name: not_target;
	animation-duration:1s;
	animation-iteration-count: 1;
}

